/**************************/
/* BELOW 1150 PX */
/**************************/

@media (max-width: 72em) {
    html {
        font-size: 56.25%;
    } 
    
    .testimonial-container {
        gap: 5rem;
    }
    .testimonials {
        height: 100rem;
    }
}

/**************************/
/* BELOW 1000 PX */
/**************************/

@media (max-width: 62.5em) {
    html {
        font-size: 50%;
    }
    .section-top-img1 {
        height: 25rem;
        top: 20%;
        right: 23%;
    }
    .section-top-img2 {
        height: 20rem;
        right: 18%;
    }
    .section-top-img3 {
        height: 20rem;
        left: 68%;
    }
    .customer {
        margin-top: 5rem;
    }
    .section-top {
        height: 60rem;
    }
    
}

/**************************/
/* BELOW 900 PX */
/**************************/

@media (max-width: 55em) {
    html {
        font-size: 43.75%;
    }
}

/**************************/
/* BELOW 800 PX */
/**************************/

@media (max-width: 50em) {

    html {
        font-size: 37.5%;
    }
    .main-nav-list {
        display: none;
    }

    .hamburger {
        display: block;
        cursor: pointer;
        margin-right: 5rem;
    }

    .main-nav-list {   
        position: fixed;
        left: -100%;
        top: 7rem;
        gap: 0;
        flex-direction: column;
        width: 100%;
        text-align: center;
        transition: 0.3s;
    }

    .main-nav-link {
        margin: 1.6rem 0;
    }

    .main-nav-list.active {
        left: 0;
        display: block;
    }

    .bar {
        display: block;
        width: 2.5rem;
        height: 0.3rem;
        margin: 0.5rem auto;
        -webkit-transition: all 0.3s ease;
        transition: all 0.3s ease;
        background-color: #333;
    } 

    .main-nav {
        min-height: 7rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
    } 
    .section-top-text {
        margin-top: 4rem;
    } 
    .featured-logos {
        gap: 3rem;
    }  
    .meals-card {
        height: 90%;
    }
}

/**************************/
/* BELOW 650 PX */
/**************************/

@media (max-width: 40em) {
    .customer {
        display: block;
    }
    .featured-logos {
        gap: 1.5rem;
    } 
    .works-div {
        flex-direction: column;
        text-align: center;
        gap: 5rem;
    }
    .order:nth-child(1) {
        order:1;
    }
    .order:nth-child(1) {
        order:2;
    }
    .even-div {
        padding-left: 0;
    }
    .how-it-works {
        height: 250rem;
      }
    .meals-container {
        grid-template-columns: repeat(2, 1fr);
    }
    .meals-card {
        height: 100%;
        width: 90%;
    }
    .meals {
        height: 145rem;
      }
    .meals-list {
        grid-column: 1/-1;
        justify-self: center;
    }
    .testimonial-container {
        grid-template-columns: repeat(1, 1fr);
    }
    .testimonials-images {
        grid-template-columns: repeat(4, 1fr);
        column-gap: 3rem;
        justify-content: center;
        row-gap: 2rem;
        justify-self: center;
    }
    .testimonials {
        height: 140rem;
    }
    .pricing-features {
        grid-template-columns: repeat(2, 1fr);
    }
    .pricing {
        height: 150rem;
    }
    .cta {
        flex-direction: column;
        height: 50rem;
    }
    .cta-form {
        grid-template-columns: repeat(1, 1fr);
        padding-bottom: 2rem;
    }
    .cta-section {
        height: 120rem;
    }
    .cta {
        padding: 0 20rem;
    }
    .cta-img {
        order: -1;
    }
    .cta-img img {
        width: 100%;
    }
    .footer {
        grid-template-columns: repeat(3, 1fr);
    }    
}

/**************************/
/* BELOW 550 PX */
/**************************/

@media (max-width: 34em) {
    html {
        font-size: 31.25%;
    }
    .featured-logos {
        gap: 1rem;
    }
    .section-top {
        height: 65rem;
    }
}

/**************************/
/* BELOW 450 PX */
/**************************/

@media (max-width: 34em) {
    html {
        font-size: 25%;
    }
    .featured-logos {
        flex-wrap: wrap;
    }
}